.counter {
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 10px #a6c4e2;
}

.info-block {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

#input {
    padding: 1em;
}

.text {
    font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 510px) {
    .counter {
        max-width: 300px;
        width: 100%;
    }

    #input {
        font-size: 14px;
    }

    .info-block {
        flex-direction: column;
        align-items: center;
    }
}
